<ion-view view-title="기본정보">
<ion-content padding="true">
<div class="row">
  <div class="col col-30" id="calendar-month">
    April
  </div>
  <div class="col" id="calendar-dday">
    <button class="button">
      All2man D+2
    </button>
  </div>
</div>
  <div class="row header calendar calendar-header">
    <div class="col">일</div>
    <div class="col">월</div>
    <div class="col">화</div>
    <div class ="col">수</div>
    <div class="col">목</div>
    <div class="col">금</div>
    <div class="col">토</div>
  </div>
  <div class="row calendar ">
    <div class="col"></div>
    <div class="col">1</div>
    <div class="col">2</div>
    <div class ="col">3</div>
    <div class="col">4</div>
    <div class="col">5</div>
    <div class="col">6</div>
  </div>
  <div class="row calendar">
    <div class="col">8</div>
    <div class="col">9</div>
    <div class="col">10</div>
    <div class ="col">11</div>
    <div class="col">12</div>
    <div class="col">13</div>
    <div class="col">14</div>
  </div>
  
  <div class="row calendar">
    <div class="col">15</div>
    <div class="col">16</div>
    <div class="col">17</div>
    <div class ="col">18
      <div class="row calendar-item calendar-company">Family Day</div>
    </div>
    <div class="col">19</div>
    <div class="col">20
      <div class="row calendar-item calendar-company">Demo</div></div>
    <div class="col">21</div>
  </div>

  <div class="row calendar">
    <div class="col">22</div>
    <div class="col">23</div>
    <div class="col">24
      <div class="row calendar-item calendar-match">파트너 점심</div>
    </div>
    <div class ="col">25</div>
    <div class="col">26
      <div class="row calendar-item calendar-company">타운홀 미팅</div>
    </div>
    <div class="col">27
      <div class="row calendar-item calendar-outlook">카드값 인출</div>
    </div>
    <div class="col">28</div>
  </div>

  <div class="row calendar">
    <div class="col">29
      <div class="row calendar-item calendar-match">IDEA DAY</div>
    </div>
    <div class="col">30
      <div class="row calendar-item calendar-outlook">내 생일</div></div>
    <div class="col">31</div>
    <div class ="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

</div>
<div class="row" ng-repeat="">
  <div class="col">01</div>
  <div class="col">{{data.code}}</div>
  <div class="col">LK {{data.limit}}</div>
  <div class="col">{{data.account}}</div>
  <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
</div>
</ion-content>
</ion-view>