<ion-view title="Main">
  <ion-content>
  <!-- <div class="col"> -->
  <div class="row">
    <div class="col col-60">
        000님 환영합니다!      
    </div>
    <div class="col">
      <a href="#/sign-up" class="button button-small"> 로그아웃</a>
    </div>
  </div>
  <div class="row">
    <div class=" col col-60">
      
      <div class="row">
        D-12
      </div>
      <div class="row">
        <button class="button button-small button-outline button-positive">
          매칭 리포트
        </button>
        <button class="button button-small button-outline button-positive">
        파트너 프로필
        </button>
      </div>
      <div class="row row-20">
        <div class="col col-100">
         <button class=" button button-small button-outline button-positive">
          My Profile
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <button class="button button-full button-photo-upload">사진 업로드하기</button>
    </div>
  </div>

<div class="row">
  <div class="col-40">
    <div class="card row"> 
      <a href="#/main/schedule">
        <div class="item item-text-wrap main-card" >        
          활동하기 (스케줄러)
        </div>
      </a>
    </div>
    <div class="card row">
      <a href="#/main/schedule">
        <div class="item item-text-wrap main-card" >        
          뉴스피드
        </div>
      </a>
    </div>
  </div>
  <div class="col card">
    <a href="#/main/schedule">
        <div class="item item-text-wrap main-card" >        
          Idea for Ideal
        </div>
      </a>
   </div>
</div>

  
  </div>
  </ion-content>
</ion-view>
