 <ion-view view-title="관심항목">
	<ion-content padding="true">
	 <div class="card">
    <div class="item item-divider text-center">
      관심 직무 (복수체크)
    </div>
    <div class="item item-text-wrap">
      <ion-list>
		<ion-checkbox ng-model="filter.finance">재무/회계</ion-checkbox>
		<ion-checkbox ng-model="filter.hr">인사</ion-checkbox>
		<ion-checkbox ng-model="filter.sales">영업</ion-checkbox>
		<ion-checkbox ng-model="filter.strat">전략/기획</ion-checkbox>
		<ion-checkbox ng-model="filter.it">IT</ion-checkbox>
		<ion-checkbox ng-model="filter.marketing">마케팅</ion-checkbox>
		<ion-checkbox ng-model="filter.pr">PR</ion-checkbox>
		<ion-checkbox ng-model="filter.purchase">구매</ion-checkbox>
		<ion-checkbox ng-model="filter.general">총무</ion-checkbox>
		<ion-checkbox ng-model="filter.training">교육</ion-checkbox>
		<ion-checkbox ng-model="filter.digital">디지털</ion-checkbox>
		<ion-checkbox ng-model="filter.eval">지급/심사</ion-checkbox>
		<ion-checkbox ng-model="filter.product">계리/상품</ion-checkbox>
		<ion-checkbox ng-model="filter.stat">통계</ion-checkbox>
		<ion-checkbox ng-model="filter.etc">기타</ion-checkbox>
    </ion-list>
    </div>
      <a class="button button-full icon icon-right ion-chevron-right"href="#/tab/signup-char">다음 문항으로 이동</a>
	</ion-content>
</ion-view>


  </div>