 <ion-view view-title="성향">
	<ion-content padding="true">
	 <div class="card">
    <div class="item item-divider text-center">
      성향 (복수체크)
    </div>
    <div class="item item-text-wrap">
    <ion-list>
  		<ion-checkbox ng-model="filter.a">차분</ion-checkbox>
  		<ion-checkbox ng-model="filter.b">열정</ion-checkbox>
  		<ion-checkbox ng-model="filter.c">쾌활</ion-checkbox>
  		<ion-checkbox ng-model="filter.d">고요</ion-checkbox>
  		<ion-checkbox ng-model="filter.e">웃음 많은</ion-checkbox>
  		<ion-checkbox ng-model="filter.f">내성적</ion-checkbox>
  		<ion-checkbox ng-model="filter.g">외향적</ion-checkbox>
  		<ion-checkbox ng-model="filter.h">다혈질</ion-checkbox>
  		<ion-checkbox ng-model="filter.i">치밀</ion-checkbox>
  		<ion-checkbox ng-model="filter.j">넉살</ion-checkbox>
  		<ion-checkbox ng-model="filter.k">지구력</ion-checkbox>
  		<ion-checkbox ng-model="filter.l">순발력</ion-checkbox>
  		<ion-checkbox ng-model="filter.m">위트/재치</ion-checkbox>
  		<ion-checkbox ng-model="filter.n">완벽</ion-checkbox>
  		<ion-checkbox ng-model="filter.o">재빠른</ion-checkbox>
      <ion-checkbox ng-model="filter.p">공상가</ion-checkbox>
      <ion-checkbox ng-model="filter.q">현실적</ion-checkbox>
      <ion-checkbox ng-model="filter.r">의리</ion-checkbox>
      <ion-checkbox ng-model="filter.s">나눔</ion-checkbox>
      <ion-checkbox ng-model="filter.t">실속</ion-checkbox>
    </ion-list>
    </div>
  </div>
      <a class="button button-full icon icon-right ion-chevron-right"href="#/tab/signup-comment">다음 문항으로 이동</a>
	</ion-content>
</ion-view>


  </div>