<ion-view view-title="관심항목">
	<ion-content padding="true">
	<div class="card">
    <div class="item item-divider text-center">
      관심사 (복수체크)
    </div>
    <div class="item item-text-wrap">
      <ion-list>
      <ion-checkbox ng-model="filter.trip">여행</ion-checkbox>
      <ion-checkbox ng-model="filter.sports">스포츠</ion-checkbox>
      <ion-checkbox ng-model="filter.car">자동차</ion-checkbox>
      <ion-checkbox ng-model="filter.health">헬스 & 뷰티</ion-checkbox>
      <ion-checkbox ng-model="filter.finance">재테크</ion-checkbox>
      <ion-checkbox ng-model="filter.movie">영화</ion-checkbox>
     <ion-checkbox ng-model="filter.lang">어학</ion-checkbox>
      <ion-checkbox ng-model="filter.music">음악</ion-checkbox>
      <ion-checkbox ng-model="filter.books">독서</ion-checkbox>
      <ion-checkbox ng-model="filter.edu">육아 및 교육</ion-checkbox>
    </ion-list>
    </div>
  </div>
  <a class="button button-full icon icon-right ion-chevron-right"href="#/tab/signup-interest-work">다음 문항으로 이동</a>
	</ion-content>
</ion-view>