 <ion-view view-title="한 문장으로 소개하기">
	<ion-content padding="true">
	 <div class="card">
    <div class="item item-divider text-center">
      기타 정보 입력
    </div>
    <div class="item item-text-wrap item-floating-label">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">본인을 한 문장으로 표현</span>
          <input type="text" placeholder="본인을 한 문장으로 표현해주세요">
        </label>
      </div>
    </div>
    <div class="item item-text-wrap item-floating-label">
      <!-- <div class="list"> -->
        <label class="item item-input">
          <span class="input-label">
            예시) #마포열정남 #설현 #Joos #행복하지말입니다 #벌써40
          </span>
          <input type="text" placeholder="나를 표현하는 단어 5가지를 #( )로 작성해주세요.">
        </label>
      <!-- </div> -->
    </div>
  </div>
    
  </div>

  <a class="button button-full button-calm" href="#/main">가입하기</a>
	</ion-content>
</ion-view>


  </div>