<ion-view title="아이디어">
  <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="아이디어 등록 및 평가" icon="ion-chatbox" href="#/tab/eval">
      <ion-nav-view name="eval-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="채택 아이디어" icon="ion-checkmark" href="#/tab/sel">
      <ion-nav-view name="sel-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="아이디어 진행상황" icon="ion-arrow-graph-up-right" href="#/tab/prog">
      <ion-nav-view name="prog-tab"></ion-nav-view>
    </ion-tab>
 <!--    <ion-tab title="기본정보" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab> -->

    <!--ion-tab title="세부정보" icon="ion-ios-information" href="#/tab/signup-detail">
      <ion-nav-view name="signup-detail-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="세부정보" icon="ion-ios-information" href="#/tab/about">
      <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab-->

    <!--ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
    </ion-tab-->
  </ion-tabs>
</ion-view>